*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    margin: 10px;
}
.navbar{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.navbar .menu ul{
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 40px;
}
.navbar .menu ul a{
    color: black;
   text-decoration: none;
   font-size: 20px;

}
.navbar .menu ul a:hover{
    color: black;
    background-color: orangered;
    border-radius: 20px;
    padding: 10px;
}
.navbar .bnt button{
    color: white;
    padding: 10px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    background: linear-gradient(to right,orangered,black);
}
.tilte{
    flex-direction: column;
    margin-top: 50px;
    background-color: orangered;
    padding: 60px;
    width: 70%;
    border-radius: 10px;
    text-align: center;
    margin-left: 15%;
}
.tilte .titre1{
    font-size: 25px;
    color: white;
    margin: 10px;
    align-items: center;
    letter-spacing: 1px;
    line-height: 40px;
}
span{
    background-color: rgb(98, 58, 43);
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: capitalize;
}
.tilte .titre2 p{
    margin-top: 10px;
    color: white;
    background: rgba(255,2255,255 ,0.2);
    padding: 15px;
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
}
.marche{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 40px;
    line-height: 25px;
}
.marche .images img{
    width: 600px;
    height: 300px;
    background-image: url(media/fon.png);
      background-size: 1;
    background-repeat: no-repeat;
    filter: none;
    margin-right: 30px;

}
.marche .block h1{
    margin-bottom: 40px;
}
strong{
    color: orangered;
}
.marche .block p{
    border: 1px solid orangered;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    width: 100%;

}
.globe{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.globe .image img{
    width: 600px;
    height:400px;
    margin-top: 20px;
    margin-left: 30px;
    transform: scaleX(-1);
    background-image: url(media/fon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1 155% auto;
    filter: none;
}
.globe .theme {
    margin-top: 150px;
}
.globe .theme p{
    border: 1px solid orangered;
    margin-right: 10px;
    padding: 17px;
    border-radius: 5px;
    margin: 10px;
}
.solution{
    flex-direction: column;
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    color: white;
    background-color: orangered;
    margin-top: 130px;
     margin-left: 100px;
    margin-right: 100px;

}
.solution .solute{
    margin-bottom: 20px;
    background: linear-gradient(to right, black,orangered);
    padding: 10px;
    margin-left: 23%;
    margin-right: 23%;
    border-radius: 5px;
}
.solution .taxe img{
    width: 80px;
    height: 80px;
    margin: none;
}
.solution .taxe{
    display: flex;
   
    
}
.solution .taxe ul{
    
    line-height: 30px;
    background: rgba(255,255,255,0.2);
    padding: 40px;
    border-radius: 5px;
    font-size: 20px;
    align-items: baseline;
    width: fit-content; 
    margin: 0 auto;
}
.solution .clic button{
    margin-top: 20px;
    color: orangered;
    background-color: white;
    padding: 10px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}
.solution .clic button:hover{
    color: black;
    background-color: orangered;
}
.total{
    margin-top: 70px;
    display: flex;
    margin-left: 8%;
    gap: 70px;
}
.total .item1 ul {
    margin-top: 30px;
}
.total .item1 ul li{
    line-height: 26px;
}
.total .item1{
    border:1px solid orangered;
    padding:60px;
    border-radius: 10px;
    background: #fed;
    font-size: 20px;
}
.total .item1 h3{
    color: orangered;
    font-size: 25px;
}
.total .item2 ul {
    margin-top: 30px;
}
.total .item2 ul li{
    line-height: 26px;
}
.total .item2{
    border:1px solid orangered;
    padding: 40px;
    border-radius: 10px;
    background: #fed;
    font-size: 20px;
}
.total .item2 h3{
    color: orangered;
    font-size: 25px;
}
.partners{
    margin-top: 7%;
    margin-left: 7%;
}
.totaux{
    display: flex;
    margin-top: 100px;
    margin-left: 20px;
    background-color: orangered;
    width: 100%;
    font-size: 20px;
    padding: 40px;
    text-align: center;
    align-items: center;
    gap: 20px;
}
.totaux .valeur{
    margin-left: 15%;
    background-color: white;
    padding: 29px;
    margin-top: 7px;
    border-radius: 10px;
}
.totaux .pourcentage{
    background-color: white;
    padding: 35px;
    margin-top: 7px;
    border-radius: 10px;
}
.totaux .addition{

    background-color: white;
    padding: 35px;
    margin-top: 7px;
    border-radius: 10px;
}
b{
    color: white;
    background-color: orangered;
    border-radius: 5px;
    padding: 15px;
    line-height: 70px;
}
u{
    color: orangered;
    text-decoration: none;
}
.reservation{
    margin-top: 80px;
    margin-left: 100px;
}
.reserver{
    text-align: center;
    margin-top: 30px;
    justify-content: space-around;
    margin-left: 160px;
    display: flex;
    background-color: ghostwhite;
    border-radius: 10px;
    padding: 30px;
    margin-right: 70px;
}
.reserver .reserver1{
    line-height: 30px;
    font-size: 20px;
}
.reserver .reserver1 h3{
    line-height: 100px;
    color: orangered;
}
.reserver .reserver1 p u{
    color: white;
    padding: 10px;
    margin: 10px;
    background-color: orangered;
    gap: 20%;
    border-radius: 5px;
}
.reserver.tape .reserv2 h3{
    line-height: 20px;
}
.tape .reserver2 h3{
    color: orangered;
    padding: 20px;
    margin-top: 26px;
    margin-right: 340px;
}
.tape .reserver2 p{
    font-weight: bold;
}
.tape .reserver2 p u{
    color: orangered;
}
.tape1 button{
    margin-top: 25px;
    font-size: 20px;
    background: linear-gradient(to right,orangered,black);
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
.master{
    margin-top: 100px;
    margin-left: 100px;
}
.item{
    margin-left: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
}
.item .item1 ul{
    margin-top:-20px;
}
.item .item2 img{
    width: 200px;
    height: 200px;
    margin-top: -29px;
    align-items: center;
    margin-right: 100px;
}
.xarala{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    background-color: orangered;
    width: 100%;
    padding: 25px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}
.logo2{
    margin-top: 10px;
    line-height:50px;
}
.ecrit{
    margin-top: 10px;
    line-height: 50px;
}
.localisation h3{
    margin-bottom: 20px;
    font-size: 27px;
    font-style: italic;
}
.localisation .form input{
    border: none;
    margin: 10px;
    padding: 20px;
    font-size: 10px;
    width: 100%;
    border-radius: 5px;
}
.localisation button{
    padding: 8px;
    border-radius: 5px;
    width: 90%;
    color: white;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 20px;
    background-color: rgb(85, 81, 78);
}
.temoigne{
    margin-left: 80px;
    margin-top: 30px;
}
.collaborateur{
    display: flex;
    margin-top: 20px;
    margin-left: 90px;
    gap: 40px;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 100px;
}
.collab1{
     background-color: ghostwhite;
    padding: 30px;
    border-radius: 5px;
    line-height: 20px;
}
hr{
  border: none;          
  height: 1px;           
  background-color: black; 
  margin: 20px 0; 
}
.collab1  img{
    width: 30px;
    height: 30px;
    border-radius: 3px;
}
.pcost{
    display: flex;
    gap: 10px;
}
.collab1 .pcost .presente p{
    color: orangered;
}
 .collaborateur.collab1  a{
    margin-top: -40px;
}
.collab1 .pcost{
    margin-top: 25px;
    top: 50px;
} 
.collabZ{
    width: 100%;
    margin-top: 30px;
    padding: 30px;
    color: white;
}
.collabZ .collabA{
    margin-top: 30px;
    margin: 10px;
}
.collabZ .coordonne img{
    width: 30px;
    height: 30px;
    margin: 5px;
    color: white;
    vertical-align: middle;
}
.footer{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.separe{
    justify-content: space-between;
    display: flex;
     margin: 20px;
}
.separe1{
    justify-content: space-between;
    display: flex;
    margin: 20px;
    gap: 20px;

}
.collabe{
    margin-right: 50px;
    margin-top: 30px;
}
.collabe h1{
    margin-top: 20px;
    font-style: italic;
    margin-left: 12px;
}
input{
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
}
::placeholder{
    font-weight: bold;
    background:linear-gradient(to right #000,#fed)
}
.input button{
    width: 170px;
   margin-left: 14em;
   margin-right: 10px;
    color: white;
    padding: 9px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    background:rgb(83, 48, 37);
}
.cadre{
      color: white;
    background-color: orangered;
    padding: 30px;
  
     
}
.cadre .footer1{
    text-align: center;  

}